<div class="jumbotron">
  <div class="container">
    <h1>You worked hard for this moment</h1>
    <p>Most applications get rejected because the candidate didn't portray themselves well, not because they didn't deserve it.</p>
    <p><a class="btn btn-primary btn-lg">Error-check your application</a></p>
  </div>
</div>